# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env
.env.*

# Migraciones compiladas
*/migrations/__pycache__/

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Otros
# =========================
*.swp
*.bak
