@import "tailwindcss";

@theme {
  --color-primary: #2D6A4F;
  --color-secondary: #00B4D8;
  --color-background: #F8F9FA;
  --color-textMain: #212529;
  --color-accent: #FF9F1C;

  --animate-float: float 6s ease-in-out infinite;
  --animate-ripple: ripple 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

@keyframes ripple {
  0% { transform: scale(0.8); opacity: 0.8; }
  100% { transform: scale(2.2); opacity: 0; }
}